<html>

<head>
    <title>
        Deep Learning Specialization APIs
    </title>

<body style="margin:10%;">
    <h2>A collection of APIs which consists of models I trained as a part of the Deep Learning Specialization on
        Coursera.</h2>
    <br>For obvious reasons there is hard limit on number of times APIs can be accessed over the server.
    <br>All pickled models can be found here <a href="https://www.dropbox.com/sh/gsa00gsk15orxyk/AABwqiRKTleQnrdEbbyQZiKza?dl=0">here</a>
    <hr>
    <br>
    <h3>List of APIs implemented are as following</h3>
    <ul>
        <li><a href="{{ url_for('api1') }}">Cat/Non-cat prediction API - Course 1</a></li>
    </ul>
    <ul>
        <li><a href="{{ url_for('api2') }}">Hand Singnal number prediction API - Course 2/a></li>
    </ul>
    <ul>
        <li><a href="{{ url_for('api3') }}">Smile/Not smile face - Course 4</a></li>
    </ul>
</body>
</head>

</html>