<html>

<head>
    <title>
        Deep Learning Specialization APIs
    </title>

<body style="margin:10%;">
    <h2>A collection of REST APIs which consists of models I trained as a part of the Deep Learning Specialization on
        Coursera.</h2>
    <br>For obvious reasons there is hard limit on number of times APIs can be accessed over the server.
    <hr>
    <br>
    
    <h3>List of APIs implemented are as following</h3>
    <h4>
        <ul>
            <li><a href="{{ url_for('api1') }}">Cat/Non-cat prediction API - Course 1</a></li>
        </ul>
        <ul>
            <li><a href="{{ url_for('api2') }}">Hand Singnal number prediction API - Course 2</a></li>
        </ul>
        <ul>
            <li><a href="{{ url_for('api3') }}">Smiling/Not Smiling face - Course 4</a></li>
        </ul>
    </h4>
</body>
</head>

</html>