<html>
<head>
    <title>Deep Learning API - 3</title>
</head>
<body style="margin:10%;">

        <br>
        <h3>This is Model 1 trained at last of course 4 of Deep Learning</h3>
        <br><h4>The model is of a trained neural network to recognize whether the person in the input picture is smiling or not. ( happy/not happy)
        </h4>
        <img src="{{ url_for('static', filename='smile.png') }}">
        <!-- <br><H4>The pickled model is available <a href="https://www.dropbox.com/sh/gsa00gsk15orxyk/AABwqiRKTleQnrdEbbyQZiKza?dl=0">here</a></H4> -->
        <br><H4>The .h5 model is available <a href="{{ url_for('static', filename='happy.h5') }}">here</a></H4>
        <br><h4>To get prediction make a POST request to this URL with key as 'image' and the image in jpg format</h4>
        <br>Sample cURL request as:
        <br><br>
        <code>
                curl -X POST \
                https://dlapis.herokuapp.com/smilenotsmile \
            <br>-H 'content-type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW' \
            <br>-F image=@/Users/siddharth/Desktop/code/deeplearning/course1/images/cat1.jpg
        </code>
        <br>
        <br>
        <br>
        
        <hr>
        <br>
        <h4>You also use the webform below.</h4>
        <form action="{{ url_for('api3') }}" method="post" enctype="multipart/form-data">
            <input type='file' name='image'>
            <input type='submit'>
        </form>
        <br>
        If the model runs successfully, json response with predition 0 ( unhappy ) and 1 ( happy ) and code 200.
        <br>Errors are returned with code 400
</body>
</html>